body{
  /* background-image: url("../fotosComunes/woodsfondo.jpg"); */

  width: 100%;
}

#CantidadProducto {
  text-align: -webkit-center;
  align-items: baseline;
}



input#CantidadProducto{
border-radius: 51px;
text-align: center;
background-color: black;
color: white;
}





div#rowCuadroProducto{
margin:0px;
background-color: black;
padding-bottom: 5px;
box-shadow: 6px 1px 12px black;
}

div#colorfondo{

}

div#cuadroproducto{
background-color: black;
color:white;
box-shadow: -6px -2px 12px black;
background-color: black
}

#cardbotonesbajoimagen{
background-color: black;
padding: 0px;
}

div#marcafondo{
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  font-size: 200px;
  color: black;
  text-transform: uppercase;
}

#botonesdesplegables {
  border-radius: 0px;
  font-size: 13px;
  font-weight: bold;
  padding: 0px;
  padding-top: 15px;
  padding-bottom: 15px;
  color: white;
  background-color: black;
  width: 100%;
  text-transform: uppercase;
}

#botonesdesplegables:hover, #botonesdesplegables:focus  {
  color: black;
  background-color: rgba(255, 193, 0,1);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-transform: uppercase;
}


div#stylefoto{
background-color: rgba(255, 255, 255, 0.9);
padding
}

#espacionav{
  padding:0px;
  padding-top: 52px;
  margin:0px;
}

img#fototitulo {
    width: 100%;
    padding:0px;
    margin:0px;
    margin: 0 auto;

}

div#botonesbajofoto.row{
margin: 0px;
padding: 0px;

}

div#botonesbajofoto.row>div.col-sm{
  padding:0px;
  margin:0px;
}

.accordion>.card .card-header {
padding: 0px;

}

div#botonesbajofoto.row>div.col-sm>button, button#botones.btn {
  border-radius: 0px;
  font-size: 25px;
  font-weight: bold;
  padding: 0px;
  padding-top: 18px;
  padding-bottom: 18px;

}


#botonesagregar{
  color: white;
  background-color: black;
  width: 100%;
  height: 100px;
  text-transform: uppercase;:

}

#botonesagregar:hover, #botonesagregar:focus  {
  color: black;
  background-color: rgba(255, 193, 0,1);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-transform: uppercase;:

}

#botones{
  color: white;
  background-color: black;
  width: 100%;

}

#botones:hover, #botones:focus  {
  color: black;
  background-color: rgba(255, 193, 0,1);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.fa-calculator:hover, .fa-calculator:focus{
  color: black;
}

div#textodescripcion{
  text-align: justify;
  color: white;
  box-shadow: -6px -2px 12px black;
  background-color: black
}

#producto{
  padding-bottom: 0px;
  padding-top: 0px;
  text-transform: uppercase;
  text-align: justify;
  color: white;
}

#prodalc{
  border-radius: 544px;
  background-color: rgba(255, 193, 0,1);
  margin: 0 auto;
  padding: 0px;
  position: relative;
  color: black;
  font-weight: 1000;
  border: solid;
  text-align: center;

}

h1#producto{
  color: white;
  font-weight: 1000;
  font-size: 7vw;
  padding-bottom: 0px;
  padding-top: 0px;
  position: relative;
  top: -2vw;
}

h3#producto{
  color: white;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

div#variedadcompra{
color: white;
font-weight: 1000;
text-transform:uppercase;

}

div#variedad.col{
  border-radius: 544px;
  background-color: rgba(255, 193, 0,1);
  margin: 0 auto;
  padding: 0px;
  color: black;
  border: solid;
  text-align: center;


}


#star{
  color: rgba(255, 193, 0,1);;
}

ul#detalleproducto>li{
padding-bottom: 5px;
padding-top: 5px;
border-bottom: solid 1px grey;

}

#rowProducto{
  background-color:  white;
  color: black;
  list-style: none;

}
#rowtitulo{
  background-color: white;
  color:black;
  /* border-bottom: solid black ; */
  border-width: 2px;
  text-align:left;
}

ul#listacompraproducto{
  padding: 0px;
  margin: 0px;

}

#rowdetalle{
  background-color:  white;
  color: grey;
  list-style: none;
}

#listacompraproducto{
  color: black;
  list-style: none;
}

#rutaproductos {
  padding-top: 10px;
  padding-bottom: 10px;
}

#rowProducto.row{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
}

#fotoproducto {
  padding: 0px;
  margin: 0px;
  background-image: url("../fotosComunes/burbujabeer.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
}

#imagenproducto{
  max-width: 300px;
  margin: 0 auto;

}

#listaproductosybotones.col-sm-4 {
  margin: 0 auto;
  padding: 0px;

}


.Titulo{
  /* text-decoration: underline; */
  padding-bottom: 10px;
}

.divfloat{
  float: right;
}

.productoPrincipal {
  padding: 4px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  display: inline-block;
  width: 200%;
  height: auto;
}

.vistaProductos {
  width: 60%;
}


.listadocompra{
padding-top: 10px;

}

.listaproducto{
  list-style: none;
}

.section-title span {
  color: #454545;
  padding: 5px 15px 5px 0;
  text-transform: uppercase;
  width: auto;

  }

  .navproductos>li>a{
    color: black;
    font-weight: bold;
    margin-left: 15px;
  }


  .card-body{
    background-color: white;
  }

.productoBuscado {
width: 100%;
}

#productoventa {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  -webkit-transform: 0px 0px 1;
  -moz-transform: 0px 0px 1;
  -ms-transform: 0px 0px 1;
  -o-transform: 0px 0px 1;
  transform: 0px 0px 1;
  transform: translate(0px, 0px) scale(1);
  -webkit-transform: translate(0px, 0px) scale(1);
  -moz-transform: translate(0px, 0px) scale(1);
  -o-transform: translate(0px, 0px) scale(1);
  -ms-transform: translate(0px, 0px) scale(1);
  -webkit-transition: all 0s ease 0s;
  -moz-transition: all 0s ease 0s;
  -o-transition: all 0s ease 0s;
  transition: all 0s ease 0s;
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -ms-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  z-index: 2;

}

div#destacadoscarrouselback{
  /* padding: 20px;
  background-color: black; */
  text-align: center;
  padding: 0px;
  margin: 0 auto;
}

#destacadoscarrousel{
  width: 100%;
  text-align: center;
  padding-bottom: 10px;
}

#linkproductos{
  text-decoration: none;
  color: black;
}

#seccion{
}
#rowIndex {
  background-color: white;
  color: black;
  text-align: center;
}

#cardDestacados{
  width: 19%;
  margin-left: 1%;

}

#cardDestacados:hover, #cardDestacados:focus {
  box-shadow: 0 4px 8px 0 rgba(255,193,0,0.8), 0 6px 20px 0 rgba(255,193,0,0.8);

}


.carousel-control-next-icon:after
{
  content: '';
  font-size: 20px;
  color: gray;
}

.carousel-control-prev-icon:after {
  content: '';
  font-size: 20px;
  color: gray;
}

#botones{
  color: white;
  background-color: black;
  width: 100%;

}

#botones:hover, #botones:focus  {
  color: black;
  background-color: rgba(255, 193, 0,1);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.vermas  {
  font-size: 20px;
}

button#botonecompra.btn{
  border-radius: 0px;
  font-size: 25px;
  font-weight: bold;
  padding: 0px;
  padding-top: 18px;
  padding-bottom: 18px;
  color: black;
  background-color: white;
  width: 100%;
}

button#botonecompra.btn:hover, button#botonecompra.btn:focus  {
  color: black;
  background-color: rgba(255, 193, 0,1);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

button#botonesdestacados.btn{
  color: white;
  background-color: black;
  width: 100%;
}

button#botonesdestacados.btn:hover, button#botonesdestacados.btn:focus  {
  color: black;
  background-color: rgba(255, 193, 0,1);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 20px;
  color: gray;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 20px;
  color: gray;
}

#linkproductos{
  text-decoration: none;
  color: black;
}
#prodcontext:hover, #prodcontext:focus {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.8), 0 6px 20px 0 rgba(0,0,0,0.8);
}

div#fondodestacados{
  background-color: black;
  box-shadow: 6px -2px 12px black;
}

.text {
  font-family:helvetica;
  font-weight:bold;
  color:white;
  text-transform:uppercase;
}
.parpadea {

  animation-name: parpadeo;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  -webkit-animation-name:parpadeo;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
}

.discount-ribbon{
opacity: 1;
background-color:red;
border-radius: 7px;

}

@-moz-keyframes parpadeo{
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

@-webkit-keyframes parpadeo {
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
   100% { opacity: 1.0; }
}

@keyframes parpadeo {
  0% { opacity: 1.0; }
   50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}
